.content{
    display: flex;
    height: 35vh;
    background-color: white;
    color: black;
    padding-left: 3rem;
    width: 100%;
}

.title{
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 900;
    display: flex;
    flex-direction: column;
    width: 35%;
}

.sample{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 0rem;
    padding: 1rem 2rem;
    width: 60%;
}

.sample img{
    padding: 1rem 1rem;
    width: 150px;
    height: 150px;
}

.content h2{
    font-weight: 900;
    font-size: 3rem;
}

.content p{
    font-weight: 500;
    text-align: justify;
}

footer{
    font-weight: 500;
    text-align: justify;
}

footer a{
    font-weight: 500;
    color: #a47aff;
}

.action {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.action i{
    font-size: 2.0rem;
}

.action div:last-of-type {
    margin-top: auto;
}

.action div p{
    font-size: 0.75rem;
    text-align: center;
    line-height: 0.75rem;
}

@media (max-width: 1600px) {

    .content{
        height: 45vh;
    }

}